<h1>Post</h1>
<p>
<strong>Author: <%= "#{User.find(@post.user_id).email}" %></strong>

</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit post', edit_post_path(@post) %> |
<%= link_to 'All posts', posts_path %>
<p>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
</p>
